@page
@model E_handelsplatform_for_Kunstnere.Pages.Profile.AboutModel
@{
    Layout = "/Pages/Shared/_LayoutLoggedIn.cshtml";
}
<partial name="_Profile" />
<style>
    body {
        background: linear-gradient(135deg, #ececec 25%, #ffffff 75%);
        font-family: 'Arial', sans-serif;
    }

    .btn-primary {
        background-color: #bf3030;
        border-color: #bf3030;
    }

        .btn-primary:hover {
            background-color: #a62a2a;
            border-color: #a62a2a;
        }
</style>

<div>
    <p>Dette er om mig</p>
</div>