@page
@model E_handelsplatform_for_Kunstnere.Pages.Profile.ForumModel
@{
}
<partial name="_Profile" />

<!-- Form -->
<div style="padding-right: 20%; padding-left: 20%;">
<form class="row g-1">
    <div class="">
        <input type="text" class="form-control" id="title" placeholder="Title på din post">
    </div>
    <div class="">
        <textarea class="form-control" id="text" rows="1" placeholder="Text"></textarea>
    </div>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <input type="submit" class="btn btn-primary" value="Post" />
        </div>
</form>
</div>